{% extends 'base.html' %}
{% block content %}

  <h2>Registration</h2>

  <form action="/register" id="registration-form" method="POST">
    <label for="email">Email address:</label>
    <input type="text" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age">
    <label for="zipcode">Zipcode:</label>
    <input type="text" id="zipcode" name="zipcode">
    <input type="submit">
  </form>

{% endblock %}